@import "~bootstrap/scss/bootstrap";

:root {
    --primary-color:#B3BBC2;
    --secondary-color:#48ADA2;
    --tertiary-color:#DCDE6D;
}
body {
    background-color: var(--primary-color);
}

img {
    width: 200px;
    height:auto;
}

.nav-link {
    text-decoration:red;

    
}